<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS Tournaments</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <section class="centered">
            <ul>
                <li>Home</li>
                <li>Rules</li>
                <li>Tourmanents</li>
                <li>Teams</li>
            </ul>
        </section>
    </nav>
    <section class="centered column">
        <header>
            <img src="/img/cslogo.png" alt="cslogo" />
            <h1>CS 1.6 Tournaments</h1>
        </header>
        <main>
            <aside>
                <p>Beta version 0.1.0</p>
                <section class="block">
                    <section class="title">Account</section>
                    <ul class="account">
                        <li>Sign In</li>
                        <li>Login</li>
                    </ul>
                </section>
                <section class="block">
                    <section class="title">Tournaments</section>
                    <ul class="tournaments">
                        <li><p>#1 CS Tournament</p><span>0/8</span></li>
                    </ul>
                </section>
                <section class="block">
                    <section class="title">Wars</section>
                    <ul class="war">
                        <li></li>
                    </ul>
                </section>
            </aside>
            <section class="container"></section>
        </main>
    </section>
</body>
</html>
