<section class="login">
    <h1>Login</h1>
    <form>
        <section class="messageError">
            <p></p>
        </section>
        <input type="text" placeholder="e-mail">
        <input type="password" placeholder="password">
        <section class="bottom">
            <button>Valider</button>
            <a>Forget password ?</a>
        </section>
    </form>
</section>
